*{
    /* border: 1px solid green; */
    margin: 0;
    padding: 0;
}

#header{
    background-color: #290166;
    color: white;
    padding: 1% 3%;
    font-weight: 600;
}

#header a{
    color: white;
}


#nav li{
    display: inline-block;
    margin: 1% 1% 0;
}

a:link, a:visited{
    text-decoration: none;
}

.table{
    width: 400px;
}

.image{
    width: 400px;
    margin: 1% 0;
}

#aside{
    width: 15%;
    height: 400px;
    vertical-align: top;
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 2% 4% 0 2%;
    margin-top: 100px;
    background-color: #290166;
    color: white;
}

#article{
    width: 70%;
    margin: 2%;
    display: inline-block;
}

#video{
    width: 560; 
    height: 315;
    display: block;
    margin: 30px auto;
    padding: 2%;
    background-color: white;
}

#footer{
    background-color: #290166;
    color: white;
    margin-top: 2%;
    padding: 4% 5%;
    font-weight: 600;
}

.content{
    padding: 2% 0;
}